		@import url('https://fonts.googleapis.com/css?family=Lato');

		body{
			overflow-x: hidden;
			font-family: 'Roboto', sans-serif;
		}

		.top-wrapper{
			background: #4c5a65;
		}

		.wrapper{
			width: 100%;
			height: auto;
			max-width: 1000px;
		}

		.header-content {
			max-width: 100%;
			height: 100%;
			display: flex;
			align-content: center;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-top: 0.5rem;
		}

		.top-brand a img{
			transition: 0.3s;
			color: #fff;
			text-decoration: none;
			font-size: 1.9em;
			font-family: 'Pacifico', cursive;
			right: 0;
			position: absolute;
			padding-right: 10px;
			opacity: 0.6;
		}

		.top-brand a img:acitve{
			opacity:1;
		}

		.top-link{
			display: none;
		}

		a li
		{
			text-decoration: none;
		}

		#menuToggle{  
			-webkit-user-select: none;
			user-select: none;  
			z-index: 1;  
			top: 0;
		}

		#menuToggle input
		{ 
			-webkit-touch-callout: none;
			display: block;
			cursor: pointer;
			z-index: 2;
			position: absolute;
			width: 36px;
			height: 41px;
			left: 9px;
			top: 8px; 
			opacity: 0;;
		}

 #menuToggle img
 {
 	width: 32px;
 	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
 	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
 	opacity 0.55s ease;
 	transform-origin: 4px 0px;
 	z-index: 1;
 	position: absolute;
 	left: 12px;
 	display: block;
 	height: 28px;
 	top: 12px;
 	opacity: 0.6;;
 }

 #menu
 {
 	background: #9f9f9f;
 	list-style-type: none;
 	-webkit-font-smoothing: antialiased;
 	transform-origin: 0% 0%;
 	transform: translate(-100%, 0);
 	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 	padding: 10px 68px;
 	position: absolute;
 	top: 38px;
 	border: 1px solid #e4e6e9;
 	left: -5px;
 	border-radius: 3px;;
 } 

 #menu li
 {
 	padding: 10px 0;
 	font-size: 1rem;
 }

 #menuToggle input:checked ~ ul
 {
 	transform: scale(1.0, 1.0);
 	opacity: 1;
 }

.widget{
	max-width: 100%;
	height: auto;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	padding-top: 3.75em;
}

.header-text{
	line-height: 1.5;
	height: auto;
}

.header-text h4{
	color:#dcdcdc;
	padding-bottom:0.56rem;
	font-size:1rem;
	line-height:1.5;
	font-weight:400;
	margin:0 10px;
}

h1{
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
	line-height: 1.5;
	margin-bottom: 0.4em;
	margin-left: 10px;
	margin-top: 1rem;;;
}

h4{
	font-weight: 400;;
}

.header-paragraph{
	color:#a0a0a0;
	font:-webkit-xxx-large;
	font-size:1rem;
	line-height:1.5;
	margin:0 10px;
}

.action{
	width: 100vw;
	padding: 29px 0;
}

.button-wrapper{
	display: block;
	text-align: center;
	padding-left: 1px;
	padding-bottom: 0;
	padding-right: 0;
	border-radius: 23px;
	padding-top: 1px;
	height: 2.6em;
	width: 100vw;
}

.action span{
	z-index: 2;
	position: relative;
}

.button{
	color: #fff;
	border-top: 1px solid #216ca0;
	border-bottom: 1px solid #164769;
	box-shadow: inset 0px 2px 0px -1px #9bcbe8, inset 0px -1px 0px 0px #4893d1;
	background: linear-gradient(to top, #388bcd, #439ed5);
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	padding-left: 2.9em;
	padding-right: 2.9em;
	font-weight: bold;
	text-decoration: none;
	font-size: 0.88em;
	white-space: nowrap;
	border-radius: 9em;
	position: sticky;
}

.button:after{
	content: '';
	width: 100%;
	color: #fff;
	text-decoration: none;
	background: linear-gradient(to top, rgb(32, 75, 114), #8cb5d2);
	transition: opacity 0.5s;
	top: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	height: 100%;
	box-shadow: inset 0px 1px 1px #a6cce7, inset 0px -1px 0px 0px #5796ce;
	border-radius: 9em;
}

.button > span{
	transition: .5s;
	position: relative;
	z-index: 1;
	font-size: 0.875rem;
	font-weight: bold;
}

.button:before{
	content: '';
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: -5px -1px 13px 1px rgba(0, 0, 0, 0.67);
	z-index: -1;
	bottom: 0px;
	width: 188px;
	height: 0px;
	text-align: center;
	left: 3px;
	position: absolute;
}

.right-wrapper{
	padding-top: 0.1em;
	vertical-align: middle;
	display: block;
	text-align: center;;
}

.middle-word {
	margin-right: 12px;
	color: #fff;
}

.link-content{
	cursor: pointer;
	line-height: 1.5;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 12px 12px;
	font-size: 0.9375rem;
}

.link-content:after{
	display: block;
	content: "";
	height: 1px;
	width: 0%;
	background-color: #fff;
	transition: width .3s ease-in-out;
}

.link-content:focus:after{
	width:100%;
}



.link-content:before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-right: 9px;
	background: url(../images/icon.png) no-repeat;
	background-size: 16px;
}

.header-content a{
	color: #ffffff;
}

.wrapper-carousel{
	border-bottom: 2px solid #cdcdcd;
	background-color: #ededed;
	width: 100%;
	height:auto;
	margin:0 auto;
}

.slide-one{
	width: 100%;
	max-width: 980px;
	margin:0 auto;
	flex-wrap: wrap;
	display: flex;
}

.slide-one img{
	height: 45px;
	padding: 15px 0;
}

.features{
	background: linear-gradient(to bottom, #f1f1f1, #ffffff);
	box-sizing:border-box;
	margin: 0;
}

.features-content{
	text-align: center;
	padding-top: 6em;
	padding-bottom: 2em;
}

.features h3{
	color:#4b5a65;
	font-size:1.25rem;
	font-weight:400;
	margin-left:10px;
}

.cards-section .card {
	width: 306px;
	text-align: center;
	color: #8395a2;
	height: auto;
	padding-bottom: 4em;
}

.clearfix::before, .clearfix::after {
	content: '';
	clear: both;
	display: block;
}

.card{
	display: inline-block;
}

.block-border {
	cursor: pointer;
	box-sizing: border-box;
	border: 5px solid  #7d8f9b;
	height: 134px;
	width: 134px;
	border-radius: 50%;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	position: relative;
}

.block-border svg {
	fill: #7d8f9b;
	width: 50px;
	height: 50px;
	position: inherit;			

}

.block-text{
	margin-bottom: 3em;
	font-size: 1rem;
	margin-top: 3em;
	word-wrap: break-word;
	line-height: 1.5;
}

.block-text p{
	font-size: 0.875rem;
	color: #a4a4a4;
}

.link-features{
	transition: 0.3s;
	padding: 0.8em 1.5em;
	cursor: pointer;
	font-size: 0.812rem;
	font-weight: 700;;
	box-shadow: inset 0px 1px 1px #a6cce7, inset 0px -1px 0px 0px #5796ce;
	border-radius: 0.3em;
	border-right: 1px solid #3f7eb1;
	border-top: 1px solid #4285bb;
	color: #ffffff;
	border-left: 1px solid #3f7eb1;
	background: linear-gradient(to top, #498dca, #579fd2);
	position: relative;
	opacity: 1;
}

.link-features > span{
	position: relative;
	z-index: 1;
}

.link-features:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	color: #fff;
	text-decoration: none;
	background: linear-gradient(to top, rgb(32, 75, 114), #8cb5d2);
	box-shadow: inset 0px 1px 1px #a6cce7, inset 0px -1px 0px 0px #5796ce;
	border-radius: 0.3em;
	transition: opacity 0.5s;
	top: 0;
	left: 0;
	opacity: 0;
}

.slider-content h3{
	font-size: 1.25rem;
	color: #4c5b66;;
	padding-bottom: 25px;
}

.slide-two img{
	height: 160px;
	width: 200px;
}

.am-prev{ 
	border-radius:50%; 
	background-color:#e9edf0; 
	top:50%; 
	left:-70px; 
	cursor:pointer; 
	margin-top:-13px; 
	position:absolute; 
	border:1px solid #c0c1c3; 
	height:15px; 
	width:15px; 
	padding:5px;
}

.am-next img{
	width: 15px;
	height: 15px;
}

.am-next{ 
	background-color:#e9edf0; 
	right:-70px; 
	border-radius:50%; 
	cursor:pointer; 
	top:50%; 
	position:absolute; 
	border:1px solid #c0c1c3; 
	padding:5px; 
	height:15px; 
	width:15px; 
	margin-top:-13px;
}

.am-prev img{
	height: 15px;
	width: 15px;
}



@media screen and (max-width: 768px){
	.am-prev{
		display: none;
	}

	.am-next{
		display: none;
	}
}

.blog{
	flex-wrap: wrap;
	display: flex;
	margin-bottom: 2em;
	margin-top: 5.9375em;
	justify-content: space-between;
	width: 100%;
}

.left-blog{
	flex-wrap: wrap;
	display: flex;
	padding-bottom: 40px;
	width: 50%;
	margin: 0 10px;;
}

.left-blog h3{
	font-size: 1.25em;
	color: #4c5b66;
	padding-bottom: 1em;
}

.image-blog{
	border:1px solid #a6a6a6;
	box-shadow: 0 4px 8px #aaa;
	border-radius: 3px;
	padding:3px 3px 4px 3px;
	margin-bottom:1em;
	margin-right:2.3rem;
	height:90px;
}

.content-blog{
	width: 60%;
}

@media screen and (max-width: 890px){
	.left-blog{
		width: 100%;
	}
}

@media (min-width: 450px) and (max-width:891px){
	.content-blog{
		width: 60%;
	}
}

@media screen and (max-width: 451px){
	.content-blog{
		width: 100%;
	}
}

.content-blog h4{
	margin: 0;
	line-height: 1.5;
	font-size: 0.9375rem;
	color: #5c5c5c;
}

.content-blog p{
	margin: 0;
	color: #888888;;
	font-size: 0.8125rem;
	line-height: 1.5;
}

.first-blog{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2em;
}

.second-blog{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
}

@media screen and (max-width:453px){
	.first-blog{
		justify-content: center;
		margin-right: 0;
	}

	.second-blog{
		justify-content: center;
	}

	.image-blog{
		margin-right:0;
	}
}

.time{
	color: #a4a4a4 !important;
	font-size: 0.8rem !important;
}

.blog a{
	transition: 0.3s;
}

.right-blog{
	display: flex;
	flex-wrap: wrap;
	width: 36%;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 10px;;
}

@media screen and (max-width: 850px){
	.right-blog{
		height: auto;
		width: 100%;
	}
}

.right-blog h3{
	color: #4c5b66;
	margin: 0;
	vertical-align: middle;
	height: fit-content;
	padding-bottom: 1em;;
}

.link-blog{
	color:#3c92d2;
	text-decoration: none;
	font-size: 0.8125rem;
}

.body-blog{
	color: #929292;
	line-height: 1.5;
	font-size: 0.8em;
	padding-bottom: 1em;
}

.color-link{
	color:#515151;
	cursor: pointer;
	font-size:0.8125rem;
}

.footer{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #dddddd;
	justify-content: space-between;
	align-items: center;;
}

.left-footer{
	font-size: 0.8125rem;
	color:#8a8a8a;
	display: flex;
	width: 50%;
	padding-bottom: 1.25rem;
	padding-left: 10px;
	padding-top: 1.25rem;;
}

.right-footer{
	width: 40%;
	text-align: right;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	padding-right: 10px;
}

.icon-footer{
	width: 25px;
	height: 25px;
}
