		@import url('https://fonts.googleapis.com/css?family=Lato');

		body{
			overflow-x: hidden;
			font-family: 'Roboto', sans-serif;
		}

		.top-wrapper{
			background: #4c5a65;
		}
.menu{
	display: none;
}
		.wrapper{
			width: 100%;
			height: auto;
			max-width: 1000px;
			margin: 0 auto;
		}

		.header-content {
			max-width: 100%;
			height: 100%;
			display: -webkit-flex;
  			display: -moz-flex;
			display: flex;
			flex-wrap: wrap;
			padding-top: 2.5rem;
			position: relative;
			left: 0;
			right: 0;
			-webkit-justify-content: space-between;
     		-moz-justify-content: space-between;
			justify-content: space-between;
		}

		.top-brand a img{
			transition: 0.3s;
			color: #fff;
			text-decoration: none;
			font-size: 1.9em;
			font-family: 'Pacifico', cursive;
			opacity: 0.6;
		}

		.top-brand a img:hover{
			opacity:1;
		}
	
		.mobile-link{
			display: none;
		}
		
		ul.top-link li{
			display: inline;
			padding: 4px 17px;
		}

		.menu-link.active  {
			text-decoration: none;
			font-size: 0.9375rem;
			padding: 0.5em;
		}

		.menu-link.activ
		{
			background: linear-gradient(to bottom, #2b353a, #44515a);
			border-radius: 19em;
			box-shadow:   0px 1px 1px #757575, 
			inset  0px 1px 1px #1d1d1d;
		}

		.clearfix::after{
			content: '';
			display: block;
			clear: both;
		}

		.widget{
			height: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			max-width: 100%;
			padding-top: 3.75em;
		}

		.app-preview{
			width: 50%;
			background-image: url('../images/AA.png');
			background-repeat: no-repeat;;
			height: auto;
			background-position-x: left;
			background-position-y: bottom;
		}

		.header-text{
			margin-left: 1em;
			width: 47%;
			height: auto;
			line-height: 1.5;
			margin-top: 55px;
		}

		.header-text h4{
			color:#dcdcdc;
			padding-bottom:0.56rem;
			font-size:1rem;
			line-height:1.5;
			font-weight:400;
		}

		h1{
			font-size: 3rem;
			font-weight: bold;
			color: #fff;
			line-height: 1.5;
			margin-bottom: 0.4em;
		}

		h4{
			font-weight: 400;;
		}

		.header-paragraph{
			color:#a0a0a0;
			font:-webkit-xxx-large;
			font-size:1rem;
			line-height:1.5;
		}

		.action{
			margin-top: 2.43em;
			margin-bottom: 5.72em;
		}
		
		.button-wrapper{
			width: 11.4em;
			height: 2.6em;
			padding-top: 1px;
			padding-right: 0px;
			padding-bottom: 0;
			padding-left: 1px;
			vertical-align: middle;
			border-radius: 23px;
			display: inline-block;
		}

		.action span{
			position: relative;
			z-index: 2;
		}

		.button{
			color: #fff;
			border-top: 1px solid #216ca0;
			border-bottom: 1px solid #164769;
			box-shadow: inset 0px 2px 0px -1px #9bcbe8, inset 0px -1px 0px 0px #4893d1;
			background: linear-gradient(to top, #388bcd, #439ed5);
			padding-top: 0.6em;
			padding-bottom: 0.6em;
			padding-left: 2.9em;
			padding-right: 2.9em;
			font-weight: bold;
			text-decoration: none;
			font-size: 0.88em;
			position: absolute;
			white-space: nowrap;
			border-radius: 9em;
		}

		.button:after{
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			color: #fff;
			text-decoration: none;
			background: linear-gradient(to top, rgb(32, 75, 114), #8cb5d2);
			box-shadow: inset 0px 1px 1px #a6cce7, inset 0px -1px 0px 0px #5796ce;
			border-radius: 9em;
			transition: opacity 0.5s;
			top: 0;
			left: 0;
			opacity: 0;
		}

		.button > span{
			transition: .5s;
			position: relative;
			z-index: 1;
			font-size: 0.875rem;
			font-weight: bold;
		}

	.button:before{
			content: '';
		    position: absolute;
		    bottom: 0px;
		    left: 3px;
		    display: inline-block;
		    width: 188px;
		    height: 0px;
		    background-color: rgba(0, 0, 0, 0.6);
		    box-shadow: -5px -1px 13px 1px rgba(0, 0, 0, 0.67);
			z-index: -1;

		 }

		.button:hover:after{
			opacity: 1;
		}

		.right-wrapper{
			display: inline-block;
			margin-left: 1em;
			padding-top: 0.1em;
			vertical-align: middle;
		}

		.middle-word {
			margin-right: 12px;
			color: #fff;
		}

		.link-content{
			cursor: pointer;
			line-height: 1.5;
			display: inline-block;
			color: #fff;
			text-decoration: none;
			font-weight: bold;
			padding: 12px 12px;
			font-size: 0.9375rem;
		}

		.link-content:after{
			display: block;
			content: "";
			height: 1px;
			width: 0%;
			background-color: #fff;
			transition: width .3s ease-in-out;
		}

		.link-content:hover:after,
		.link-content:focus:after{
			width:100%;
		}



		.link-content:before {
			content: '';
			display: inline-block;
			width: 16px;
			height: 15px;
			margin-right: 9px;
			background: url(../images/icon.png) no-repeat;
			background-size: 16px;
		}

		.header-content a{
			color: #ffffff;
			font-size: 15px;
			text-decoration: none;
		}

		.wrapper-carousel{
			border-bottom: 2px solid #cdcdcd;
			background-color: #ededed;
			width: 100%;
			height:auto;
			margin:0 auto;
		}

		.slide-one{
			width: 100%;
			max-width: 980px;
			margin:0 auto;
			flex-wrap: wrap;
			display: flex;
		}

		.slide-one img{
			padding: 15px;
			height: 45px;
		}

		.features{
			background: linear-gradient(to bottom, #f1f1f1, #ffffff);
			box-sizing:border-box;
			margin: 0;
		}

		.features-content{
			text-align: center;
			padding-bottom: 9em;
			padding-top: 6em;
			display: flex;
			justify-content: space-between;
		}

		.features h3{
			color:#4b5a65;
			font-size:1.25rem;
			font-weight:400;
		}

		.cards-section .card {
			width: 306px;
			text-align: center;
			color: #8395a2;
			height: auto;
		}

		.clearfix::before, .clearfix::after {
			content: '';
			clear: both;
			display: block;
		}

		.card{
			display: inline-block;
		}

		.block-border {
			cursor: pointer;
			box-sizing: border-box;
			border: 5px solid  #7d8f9b;
			height: 134px;
			width: 134px;
			border-radius: 50%;
			display: flex;
			margin: auto;
			align-items: center;
			justify-content: center;
			position: relative;
		}

		.content-hover{
			z-index:0;
			border-radius:50%;
			position:absolute;
			top:51%;
			bottom:51%;
			left:51%;
			right:51%;
		    background-color: #7d8f9b;
		    transition: top 0.3s, bottom 0.3s, left 0.3s, right 0.3s;
			display:flex;
			flex-wrap:wrap;
		}

		.block-border:hover .content-hover  {
			top:0;
			left:0;
			right:0;
			bottom:0;
		}

		.block-border svg {
			fill: #7d8f9b;
			width: 50px;
			height: 50px;
			position: inherit;			

		}

		.block-border:hover svg {
			fill: #fff;
			transition: 0.3s;
		}

		.block-text{
			margin-bottom: 3em;
			font-size: 1rem;
			margin-top: 3em;
			word-wrap: break-word;
			line-height: 1.5;
		}

		.block-text p{
			font-size: 0.875rem;
			color: #a4a4a4;
		}

		.link-features{
			transition: 0.3s;
			padding: 0.8em 1.5em;
			cursor: pointer;
			font-size: 0.812rem;
			font-weight: 700;;
			box-shadow: inset 0px 1px 1px #a6cce7, inset 0px -1px 0px 0px #5796ce;
			border-radius: 0.3em;
			border-right: 1px solid #3f7eb1;
			border-top: 1px solid #4285bb;
			color: #ffffff;
			border-left: 1px solid #3f7eb1;
			background: linear-gradient(to top, #498dca, #579fd2);
			position: relative;
			opacity: 1;
		}

		.link-features > span{
			position: relative;
			z-index: 1;
		}

		.link-features:after {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			color: #fff;
			text-decoration: none;
			background: linear-gradient(to top, rgb(32, 75, 114), #8cb5d2);
			box-shadow: inset 0px 1px 1px #a6cce7, inset 0px -1px 0px 0px #5796ce;
			border-radius: 0.3em;
			transition: opacity 0.5s;
			top: 0;
			left: 0;
			opacity: 0;
		}

		.link-features:hover:after {
			opacity: 1;
		}

		.slider-content h3{
			font-size: 1.25rem;
			color: #4c5b66;;
			padding-bottom: 25px;
		}

		.slide-two img{
			height: 160px;
			width: 200px;
		}

		.am-prev{ 
			border-radius:50%; 
			background-color:#e9edf0; 
			top:50%; 
			left:-70px; 
			cursor:pointer; 
			margin-top:-13px; 
			position:absolute; 
			border:1px solid #c0c1c3; 
			height:15px; 
			width:15px; 
			padding:5px;
		}

		.am-next img{
			width: 15px;
			height: 15px;
		}

		.am-next{ 
			background-color:#e9edf0; 
			right:-70px; 
			border-radius:50%; 
			cursor:pointer; 
			top:50%; 
			position:absolute; 
			border:1px solid #c0c1c3; 
			padding:5px; 
			height:15px; 
			width:15px; 
			margin-top:-13px;
		}

		.am-prev img{
			height: 15px;
			width: 15px;
		}

		@media screen and (max-width:1150px){
	.am-prev{
		left: 0;
	}

	.am-next{
		right: 0;
	}
}

		.blog{
			flex-wrap: wrap;
			display: flex;
			margin-bottom: 5em;
			margin-top: 5.9375em;
			justify-content: space-between;
			width: 100%;
		}

		.left-blog{
			width: 50%;
			flex-wrap: wrap;
			display: flex;;
		}

		.left-blog h3{
			font-size: 1.25em;
			color: #4c5b66;
			padding-bottom: 1em;
		}

		.image-blog{
			border:1px solid #ede4e4;
			box-shadow: 0px 2px 4px -2px #767676;
			border-radius: 1px;
			margin-right: 2.3rem;
			padding:3px 3px 4px 3px;
			height:90px;
		}

		.content-blog{
			width: 60%;
		}

		.content-blog h4{
			margin: 0;
			line-height: 1.5;
			font-size: 0.9375rem;
			color: #5c5c5c;
		}

		.content-blog p{
			margin: 0;
			color: #888888;;
			font-size: 0.8125rem;
			line-height: 1.5;
		}

		.first-blog{

			margin-bottom: 2em;
			display: flex;
			flex-wrap: wrap;
			align-items: inherit;
		}

		.second-blog{
			margin-bottom: 2em;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
		}

		.time{
			color: #a4a4a4 !important;
			font-size: 0.8rem !important;
		}

		.blog a{
			transition: 0.3s;
		}

		.blog a:hover{
			transition: 0.3s;
			color: #FF0000;
		}

		.right-blog{
			display: flex;
			flex-wrap: wrap;
			width: 36%;
			flex-direction: column;
			justify-content: space-between;;
		}

		.right-blog h3{
			color: #4c5b66;
			margin: 0;
			vertical-align: middle;
			height: fit-content;
			padding-bottom: 1em;;
		}

		.link-blog{
			color:#3c92d2;
			text-decoration: none;
			font-size: 0.8125rem;
		}

		.body-blog{
			color: #929292;
			line-height: 1.5;
			font-size: 0.8em;
			padding-bottom: 2em;
		}

		.color-link{
			color:#515151;
			cursor: pointer;
			font-size:0.8125rem;
		}

		.footer{
			width: 100%;
			height: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.left-footer{
			font-size: 0.8125rem;
			color:#8a8a8a;	
			border-top: 1px solid #dddddd;
			padding-top: 1.25em;
			padding-left: 0px;
			padding-bottom: 3.125em;
			width:50%;
		}

		.right-footer{
			width: 50%;
			text-align: right;
			padding-top: 15px;
			border-top: 1px solid #dddddd;
			padding-bottom: 50px;
		}

		.icon-footer{
			width: 25px;
			height: 25px;
		}

		.right-footer>a>img {
			transition: 0.3s;
			opacity: 0.5;
		}

		.right-footer>a>img:hover {
			opacity: 1;
			transition: 0.3s;
		}